# Git
.git
.gitignore

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/
*$py.class
*.so
.Python

# Envs
.env
.venv/
venv/

# Django
staticfiles/
db.sqlite3
media/
logs/
_logs/

# Docker
.docker/
Dockerfile*
!Dockerfile
.dockerignore
docker-compose*.yml

# Distribution / packaging
dist/
build/
*.egg-info/

# Development/IDE files
.idea/
.vscode/
*.swp
*.swo
*.swn
.DS_Store

# Testing
.coverage
htmlcov/
.tox/
.pytest_cache/
.mypy_cache/

# Project specific
staticfiles/
media/
*.sqlite3
*.db
node_modules/
tailwind_theme/static/css/dist/*

# Documentation
README.md
docs/
specs/
*.md